<div>
    <nav class="navbar navbar-static-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Chemicals shop</a>
        </div>
            <ul class="nav navbar-right">
                <li>
                    <a class="btn btn-primary-flat" style="margin-right: 10px" href="/cart"><span
                            class="fa fa-2x fa-shopping-cart"></span>
                    </a>
                </li>
            </ul>
    </nav>
    <div class="vertical-group-sm">
        <div class="container-fluid">
            <div class="col-md-4" ng-repeat="filter in filters">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-accent dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            [[filter.name]] <span class="fa fa-caret-down"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="name_filter($index)" href="#">Name</a></li>
                            <li><a ng-click="max_cost_filter($index)" href="#">Max cost</a></li>
                            <li><a ng-click="min_cost_filter($index)" href="#">Min cost</a></li>
                            <li><a ng-click="packaging_filter($index)" href="#">Packaging</a></li>
                            <li><a ng-click="designation_filter($index)" href="#">Designation</a></li>
                        </ul>
                    </div>
                    <div class="material-text-input form-control">
                        <input type="text" class="form-control" cost-field="isCost(filter.field)"
                               ng-model="filter.value"/>
                    </div>
                    <div class="input-group-btn">
                        <button ng-class="$last ? 'btn btn-accent' : 'btn btn-danger'"
                                ng-click="$last? add_filter() : remove_filter($index)">
                            <span ng-class="$last ? 'fa fa-plus' : 'fa fa-close'"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-md-3" ng-repeat="item in shop_items">
                <div class="card">
                    <div class="card-img">
                        <img class="img-responsive" ng-src="[[item.img]]" alt="Card image cap">
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">[[item.name]]</h4>
                        <p class="card-text">[[item.description]]</p>
                        <div class="text-left">
                        </div>
                        <div class="text-right">
                            <span class="pull-left text-left">$[[styleCost(item.cost)]]</span>
                            <button ng-click="addToCart(item.id)" class="btn-accent-flat text-right">Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>